@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600;700;800;900&display=swap');

#main-text{
  background-color: transparent;
}

form{
  font-size:0.6cm
}

#background{
  margin-left: 0%;
  margin-top: 0%;
  background-size: cover;
  background-repeat: no-repeat;
}

#playerInfo{
  margin-left: 40%;
  margin-top: 5%;
}

#returnMainPage{
  margin-left: -10%;
  margin-top: 8%;
}
#startGame{
  margin-left: -10%;
  margin-top: 15%;
}
#submit-btn{
  position: absolute;
  margin-left: 6%;
  margin-top: 1%;
}

#option-btn{
  margin-top: 1%;
  display: inline-block;
  
  
}
button{
  
    display: inline-block;
    padding: 24px 32px;
    border: 0;
    text-decoration: none;
    border-radius: 15px;
    background-color: rgba(255,255,255,0.1);
    border: 1px solid rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(30px);
    color: rgba(255,255,255,0.8);
    font-size: 14px;
    letter-spacing: 1px;
    cursor: pointer;
    text-transform: uppercase;
    text-align: center;
    
}

  .question_card{
    
    text-align: center;
    display: inline-block;
    padding: 24px 32px;
    border: 0;
    text-decoration: none;
    border-radius: 15px;
    background-color: rgba(255,255,255,0.1);
    border: 1px solid rgba(255,255,255,0.1);
    backdrop-filter: blur(30px);
    color: rgba(255,255,255,0.8);
    font-size: 14px;
    letter-spacing: 1px;
    cursor: pointer;
    text-transform: uppercase;
    
    display:flex;
    justify-content: center;
    margin-left: 0%;
    margin-top: 20%;
    
  }

  img{
    
    margin-top: -20%;
    width: 100%;
    height: 100;

  }

  
  #diveIn {
    position: absolute;
    padding: 16px 30px;
    font-size: 1.5rem;
    color: var(--color);
    border: 2px solid rgba(248, 248, 249, 0.5);
    border-radius: 4px;
    text-shadow: 0 0 15px var(--color);
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    transition: 0.5s;
    z-index: 1;
    margin-left: -13%;
    margin-top: -28%;
  }
  
  #diveIn:hover {
    color: #fff;
    border: 2px solid rgba(0, 0, 0, 0);
    box-shadow: 0 0 0px var(--color);
  }
  
  #diveIn::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: var(--color);
    z-index: -1;
    transform: scale(0);
    transition: 0.5s;
  }
  
  #diveIn:hover::before {
    transform: scale(1);
    transition-delay: 0.5s;
    box-shadow: 0 0 10px var(--color),
      0 0 30px var(--color),
      0 0 60px var(--color);
  }
  
  #diveIn span {
    position: absolute;
    background: var(--color);
    pointer-events: none;
    border-radius: 2px;
    box-shadow: 0 0 10px var(--color),
      0 0 20px var(--color),
      0 0 30px var(--color),
      0 0 50px var(--color),
      0 0 100px var(--color);
    transition: 0.5s ease-in-out;
    transition-delay: 0.25s;
  }
  
  #diveIn:hover span {
    opacity: 0;
    transition-delay: 0s;
  }
  
  #diveIn span:nth-child(1),
  #diveIn span:nth-child(3) {
    width: 40px;
    height: 4px;
  }
  
  #diveIn:hover span:nth-child(1),
  .button:hover span:nth-child(3) {
    transform: translateX(0);
  }
  
  #diveIn span:nth-child(2),
  #diveIn span:nth-child(4) {
    width: 4px;
    height: 40px;
  }
  
  #diveIn:hover span:nth-child(1),
  #diveIn:hover span:nth-child(3) {
    transform: translateY(0);
  }
  
  #diveIn span:nth-child(1) {
    top: calc(50% - 2px);
    left: -50px;
    transform-origin: left;
  }
  
  #diveIn:hover span:nth-child(1) {
    left: 50%;
  }
  
  #diveIn span:nth-child(3) {
    top: calc(50% - 2px);
    right: -50px;
    transform-origin: right;
  }
  
  #diveIn:hover span:nth-child(3) {
    right: 50%;
  }
  
  #diveIn span:nth-child(2) {
    left: calc(50% - 2px);
    top: -50px;
    transform-origin: top;
  }
  
  #diveIn:hover span:nth-child(2) {
    top: 50%;
  }
  
  .button span:nth-child(4) {
    left: calc(50% - 2px);
    bottom: -50px;
    transform-origin: bottom;
  }
  
  .button:hover span:nth-child(4 ) {
    bottom: 50%;
  }


 